.h1-font-style {
    font-family: var(--project-font);
    font-weight: 900;
    font-size: var(--h2-size);
}
.h2-font-style {
    font-family: var(--project-font);
    font-weight: 900;
    font-size: var(--h1-size);
}

.h3-font-style {
    font-family: var(--project-font);
    font-weight: 800;
    font-size: var(--subtitle-1-size);
    line-height: normal;
}

.body-font-style {
    font-family: var(--project-font);
    font-weight: 400;
    font-size: var(--body-1-size);
}

.quote-font-style {
    font-family: var(--project-font);
    font-weight: 900;
    font-style: italic;
    font-size: var(--quote-size);
    line-height: 30rem;
    letter-spacing: 1.25%;
}


.button-font-style {
    margin: 0;
    font-family: var(--project-font);
    font-style: normal;
    font-weight: 400;
    font-size: var(--body-1-size);
    line-height: normal;
    text-align: center;
}
